/*CSS Reset*/
body, header, nav, main, footer, h1, div, img{margin: 0; padding: 0; border: 0;}

/*Style rules for body and images*/
body{font-family: 'Knewave', serif; background-color: #00889d;}
main{font-family: Lucida, Arial, sans-serif;}
img{max-width: 75%; display: block; padding-left: 1em;}

/* Modal Styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* Modal Content Box */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

/* Close Button */
.close {
    float: right;
    font-size: 38px;
    cursor: pointer;
}

.close:hover {
    color: red;
}
/*Style rule for navigation area*/
nav{width: 70%; float: right;}
nav ul{list-style-type: none; margin-top: -5em; margin-right: 1em; text-align: center;}
nav li{display: inline-block; font-size: 1.5em; font-family: 'Knewave', serif; font-weight: bold;}
nav li a{display: block; color: #c1deee; text-align: center;  text-decoration: none; padding: 0.5em;}
nav a:hover{background-color: #009db6; border: 2px; border-color: #c1deee; border-style: solid;}

/*Style rules for main content*/
main{clear: left; background-color: #fff; padding: 2%; font-size: 1.25em;}
p{font-size: 0.5em;}
span{text-decoration: underline;}

/*Style rule for calendar section*/
.calendarCenter{text-align: center;}
.calendarCenter select{width: 5%;}
#center{text-align: center; padding-bottom: 15px;}
.table-calendar{margin-left: auto; margin-right: auto; border: solid black;}
tr:nth-child(even){background-color: lightgray;}
td{border: solid black; text-align: center;}
table{width: 70%;}
th{text-align: center; height: 70px;}

/*Style rules for create event*/
.event-container{width: 75%; text-align: center;}
.event-container h1{margin-bottom: 2%;}
.center{margin: auto; width: 75%; padding: 10px;}
select{width: 100%; border-color: #ccc; color: dimgray; height: 45px;}

/*Style rules for login*/
input[type=text], input[type=password]{width: 100%; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; box-sizing: border-box;}
.container{width: 200px; height: 200px; margin: 3% 0 10% 42%;}
button{background-color: #04AA6D; color: white; padding: 14px 20px; margin: 8px 0; border: none; cursor: pointer; width: 100;}
button:hover{opacity: 0.8;}