/*CSS Reset*/
body, header, nav, main, footer, h1, div, img{margin: 0; padding: 0; border: 0;}

/*Style rules for body and images*/
body{font-family: 'Knewave', serif; background-color: #00889d;}
img{max-width: 75%; display: block; padding-left: 1em;}

/*Style rule for navigation area*/
nav{width: 70%; float: right;}
nav ul{list-style-type: none; margin-top: -5em; margin-right: 1em; text-align: center;}
nav li{display: inline-block; font-size: 1.5em; font-family: 'Knewave', serif; font-weight: bold;}
nav li a{display: block; color: #c1deee; text-align: center;  text-decoration: none; padding: 0.5em;}
nav a:hover{background-color: #009db6; border: 2px; border-color: #c1deee; border-style: solid;}

/*Style rules for main content*/
main{clear: left; background-color: #fff; padding: 2%; font-size: 1.25em;}

/*Style rules for login*/
input[type=text], input[type=password]{width: 100%; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; box-sizing: border-box;}
.container{width: 200px; height: 200px; margin: 3% 0 10% 42%;}
button{background-color: #04AA6D; color: white; padding: 14px 20px; margin: 8px 0; border: none; cursor: pointer; width: 100;}
button:hover{opacity: 0.8;}